**/__pycache__/
static/temp/*
videoTEMP_MPY_wvf_snd.mp3
static/client_secret_173431926378-b8aljoeig3uf7oqdthiik57mhg42grm0.apps.googleusercontent.com.json
static/token.pickle
static/background_videos/background_2.mp4